h1{font-size:1.3em;text-align:center}
p{display:block;text-align:center}
a{text-decoration:none;color:#900}
::-moz-focus-inner{padding:0;border:0}
[text_center]{text-align:center;display:block}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: .5em;
  vertical-align: middle;
  border: 0
}
figure {
  display: block;
  margin: 0;
  text-align: center
}
body {
  font-size: .875rem;
  line-height: 1.4;
  width: 100%;
  height: 100vh;
  margin: 0;
  color: rgba(0, 0, 0, .6);
  outline: none;
  background-color: #edeef0;
  direction: ltr
}
body,
input[type='submit'] {
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility
}

/* СЕТКА */
[gridx^='col'] {
  display: block;
  width: 100%;
  padding: 0 8px 16px 8px;
  flex: 1
}
[gridx~='row'] {
  display: flex;
  margin-right: -8px;
  margin-left: -8px;
  flex-wrap: wrap
}
[gridx~='middle']{align-items:center}
[gridx~='center']{justify-content:center}
[gridx~='8@m']{flex:0 0 auto}

@media (min-width:45em) {
[gridx~='8@m'] {
width: 66.66667%;
max-width: 66.66667%
}
}
@media (min-width:60em) {
[gridx~='4@b'] {
width: 33.33333%;
max-width: 33.33333%
}
}

/* ОФОРМЛЕНИЕ */
[step1],[step2],[step3]{width:400px}
[step1],[step2],[step3],[cardx] {
  padding: .5em;
  border-radius: .5em;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .05),0 2px 0 rgba(0,0,0,.08);
}
.eula {
  font-family: Ubuntu mono, PT mono, monospace;
  overflow: auto;
  height: 450px;
  margin: 1em;
  padding: 1em;
  border-radius: .4em;
  background-color: rgba(255, 152, 0, .3);
  box-shadow: -.2em 0 .1em .3em rgba(0, 0, 0, .2) inset;
}

/* ВАЛИДАЦИЯ */
/* иконки */
span,em{display:inline-block;margin-bottom:.5em}
em{font-size:1.2em;color: #c66}
.error_conn svg{fill:#f90;}
form svg{width:1.3em;height:1.3em;}
svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentcolor;
}

[step1] svg{
padding: .2em;
background: #95ca9b;
border-radius:20em
}

/* элементы форм */
.errorbox {
  margin: 10px 0 5px 0;
  padding: 10px;
  background: #c66;
}
.error_conn {
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
  color: #c66;
  border: .15em solid rgba(0, 0, 0, .1);
  border-radius: .4em
}
.error_nw {
  margin: 2px;
  padding: 1px;
  border-bottom: 1px solid #f0f0f0
}
.error {
  font-weight: bold;
  color: #c66;
  font-style: italic
}
.valid{}
label.error {
  font-weight: bold;
  text-align: center;
  color: #c66;
  position: relative;
  display: block
}
label.checked {
  font-weight: bold;
  float: none;
  width: 20px;
  color: #0c0
}

form{max-width:100%;margin:0 auto}
form > label > small {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: .3em;
  opacity: .3;
}
form > label > input[type='email']:invalid,
form > label > input[type='password']:invalid{
    box-shadow:none
}
form > label > input[type='text'],
form > label > input[type='email'],
form > label > input[type='password'] {
    padding: .2em;
  box-sizing: border-box;
  width: 100%;
  color: rgba(0, 0, 0, .6);
  border: 0;
  border-bottom:  1px solid #edeef0;
}

/* select */
select{width:100%}
select option {padding: .5em}
select:focus:-moz-focusring {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 #000
}
label[for='type_sess'] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 0  0 1em;
  background-color: white;
}
[selectx] {
  position: relative;
  float: left;
  width: auto;
  width: 100%;
  border-radius: 0;
  background-color: #fff;
}
[selectx] select {
  font-size: 1rem;
  width: 100%;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[selectx] select:active,
[selectx] select:focus{outline:none;box-shadow:none}
[selectx]:after {
  position: absolute;
  top: 67%;
  right: 8px;
  width: 0;
  height: 0;
  content: ' ';
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent
}

/* кнопка */
input[type="submit"]{
  font-weight: bolder;
  margin: 0;
  display: inline-block;
  padding: .6em;
  padding: .5em 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, .6);
  border: rgba(232, 139, 0, .6) solid .15em;
  border-radius: .4em;
  background-color: white;
  box-shadow:0 .15em .1em rgba(0, 0, 0, .15);
}
input[type="submit"]:active {
  position: relative;
  top: 1px;
  background-color: #edeef0;
  box-shadow: .1em .15em .05em rgba(0, 0, 0, .2) inset;
}
