@charset "windows-1251";
html fieldset {
    padding: 5px;
    position: relative;
    margin-top: 1.2em;
    padding-top: 0.99em
}
html legend {
    position: absolute;
    top: -1em;
    left: 0.5em;
    margin-top: 0.2em
}
.clear {
    height: 0;
    clear: both;
    visibility: hidden
}
.ui-tabs-disabled {
    filter: alpha(opacity=40)
}
.button, .button_tabs {
    padding: 3px 4px 2px 3px
}
p {
    margin: 5px 0 5px 0
}
.shop_buttons_big, .shop_buttons_big_second {
    padding: 3px 0px 2px 0px;
    width: 120px;
    margin-right: 1px
}
.inlineshot {
    overflow: hidden
}
