@charset "windows-1251";
body, div, td, th, .button, textarea, input, button, select {
    font: 12px arial, tahoma, 'bitstream vera sans';
    color: #000;
}

body, #body {
    background: #C7C3B8;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
#body {
    width: 1000px;
    min-width: 1000px;
}
img {
    border: 0px;
}
small {
    color: #807872
}
fieldset {
    border-radius: 3px;
    background-color: #ede1da;
    border: 1px solid #ccbdb7;
}
legend {
    font-weight: bold;
    color: #D25A0B;
    padding: 3px;
}
.input, .input_fields, select {
    border: 1px solid #ccbdb7;
    padding: 4px;
    border-radius: 3px;
}
select {
    padding: 0
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 2px;
    padding: 0px;
}
h1, .h1 {
    font-size: 18px;
}
h2, .h2 {
    font-size: 16px;
}
h3, .h3 {
    font-size: 16px;
}
h4, .h4 {
    font-size: 14px;
}
h5, .h5 {
    font-size: 12px;
}
h6, .h6 {
    font-size: 10px;
}
h4 a, h3 a, h2 a, h1 a, .h4 a, .h3 a, .h2 a, .h1 a  {
    text-decoration: none!important
}
form {
    display: inline
}
p {
    display: block;
}
.button, .button_tabs {
    background: #D25A0B url('../../images/page/button_first.gif') bottom repeat-x;
    border: 1px solid #c05007;
    margin: 0px 0px 0px 2px;
    color: white;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}
.button:hover, .button_tabs:hover {
    background: #D25A0B;
}
.bull {
    color: #000;
    font-size: 120%;
}
a, a:link, a:visited {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #D25A0B;
    text-decoration: underline;
}
.body_padding {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}
#body_blanc {
    background: #fff
}
#body_blanc a {
    color: #D25A0B;
}
#header {
    background: #D25A0B url('../../images/page/header_bg.jpg');
    height: 180px;
}
#logo {
    top: 10px;
    left: 30px;
    position: relative;
}
#page_main {
    background: #ffffff;
}
#contents_left {
    padding: 0px;
    padding-top: 14px;
    float: left;
    width: 200px;
    overflow: hidden;
}
#contents_left li {
    display: inline;
    margin: 0px;
    padding: 0px;
    list-style: none inside;
}
#contents_left ul {
    display: inline;
    margin: 0px;
    padding: 0px;
    list-style: none inside;
}
#contents_middle {
    min-height: 530px;
    padding-left: 20px;
    padding-bottom: 32px;
    padding-right: 15px;
    padding-top: 14px;
    float: left;
    width: 540px;
    border-left: 0px solid #dea407;
    overflow: hidden;
}
#contents_middle_2colums {
    min-height: 520px;
    padding-left: 10px;
    padding-bottom: 32px;
    padding-right: 0px;
    padding-top: 17px;
    float: right;
    width: 755px;
    overflow: hidden;
}
#contents_right {
    width: 200px;
    float: left;
    margin: 0px;
    margin-top: 14px;
    float: right;
}
#quicknavi {
    margin-left: 0px;
}
#quicknavi ul {
    display: inline;
    margin: 0px;
    padding: 0px;
}
#quicknavi li {
    display: inline;
    margin: 0px;
    padding: 0px;
    line-height: 36px;
    float: left;
    padding: 0;
    margin: 0;
    border-right: 1px solid #fff;
}
#quicknavi a {
    color: #333;
    display: block;
    line-height: 36px;
    margin-top: -1px;
    padding-left: 24px;
    padding-right: 24px;
}
.quicknavi a:link, .quicknavi a:visited {
    color: #000;
    text-decoration: none
}
.quicknavi a:hover {
    color: #D25A0B;
    text-decoration: underline;
}
.quicknavi a:hover, .quicknavi a.active {
    color: #fff!important;
    text-decoration: none;
    background: #999!important;
}
.contact_form {
    background: #ede1da;
    padding: 10px;
    border-radius: 5px;
}
.contact_form p {
    margin-bottom: 10px;
}
.location {
    background: #ede1da;
    padding: 8px;
    font-size: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
    border-radius: 5px;
}
.location a:link, .location a:visited {
    color: #D25A0B;
    text-decoration: none
}
.location a:hover {
    color: #000;
    text-decoration: underline;
}
#popbody {
    padding: 0px;
    margin: 0px;
    text-align: left;
    background: #fff;
}
.popup_box a:link, .popup_box a:visited, .main_content a:link, .main_content a:visited {
    color: #D25A0B;
    text-decoration: none
}
.popup_box a:hover, .main_content a:hover {
    color: #000;
    text-decoration: none
}
.leftright_content a:link, .leftright_content a:visited {
    color: #000;
    text-decoration: none
}
.leftright_content a:hover {
    color: #D25A0B;
}
.boxes_header {
    font-size: 100%;
    color: #fff;
    background: #807872;
    border-bottom: 1px solid #fff;
    padding: 8px;
    font-weight: bold;
}
.boxes_body {
    background: #ede1da;
    padding: 10px;
    border: 0px solid #ccbdb7;
    border-radius: 0 0 5px 5px;
}
.boxes_body a:link, .boxes_body a:visited {
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    color: #D25A0B
}
.boxes_body a:hover {
    color: #000
}
.foot {
    text-align: center;
    padding: 5px;
    background: #ede1da;
    border-radius: 5px;
}
.foot a:link, .foot a:visited {
    color: #D25A0B;
    text-decoration: none
}
.foot a:hover {
    color: #000
}
.inlineshot {
    clear: both;
    border: 1px solid #ccbdb7;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    background: #ede1da;
    border-radius: 5px;
}
.inlineshot h3 {
    margin: 0px;
    padding: 0px
}
.inlineshot img {
    border: 1px solid #fff
}
.box_rating {
    margin: 10px 0 10px 0;
    background: #ede1da;
    padding: 7px;
    font-weight: bold
}
.download_link {
    margin: 15px 0 10px 0;
    background: #ede1da;
    padding: 7px;
    font-weight: bold;
    font-size: 140%
}
.download_link_infbox {
    background: #ede1da;
    padding: 7px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}
.download_link_infheader {
    font-weight: bold;
    margin: 8px 0 4px 0;
    padding-bottom: 2px;
    border-bottom: 1px solid #ccbdb7
}
.nolinks {
    color: #D25A0B;
    font-weight: bold
}
.links_list_newstart {
    background: #ede1da;
    padding-left: 5px;
    border-radius: 5px;
}
.links_list_newstart_second {
    background: #fff;
    padding-left: 5px;
    border-radius: 5px;
}
.links_list {
    background: #ede1da;
    padding: 10px;
    margin: 10px 0 5px 0;
    border-radius: 5px;
}
.links_list_second {
    background: #fff;
    padding: 10px;
    margin: 10px 0 5px 0;
    border-radius: 5px;
}
.links_list_sponsor {
    background: #ede1da;
    padding: 10px;
    margin: 10px 0 5px 0
}
.links_list_title {
    margin-bottom: 10px
}
.links_list_img {
    margin: 0 0 10px 10px
}
.links_list_foot {
    clear: both;
    margin: 20px 0 0 0;
    border-top: 1px dotted #ccbdb7;
    padding-top: 5px;
    text-align: center
}
.nav_table_left {
    float: left;
    clear: both
}
.nav_table_right {
    float: right;
    color: #D25A0B;
    font-weight: bold
}
.message_blanc {
    background: #fff;
}
.message_blanc_header {
    background: #D25A0B;
    color: #fff;
    font-size: 140%;
    font-weight: bold
}
.message_blanc_body {
    padding: 20px;
    background: #ede1da;
}
.infobox {
    clear: both;
    background: #ede1da;
    padding: 15px;
    margin: 10px 0 10px 0;
    border: 0px solid #ccbdb7;
    border-radius: 5px;
}
.infobox a {
    font-weight: bold
}
.infobox_msg {
    background: #ffffff;
    font-size: 150%;
    font-weight: bold;
    border: 1px dashed #807872;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.gfx_buttons {
    background: #fff;
    color: #D25A0B;
    cursor: pointer;
    font-weight: bold;
    padding: 2px;
    padding-right: 3px;
    border: 1px solid #ccbdb7;
    padding: 4px;
    border-radius: 3px;
}
.gfx_buttons:hover {
    background: #fff
}
.gfx_buttons img {
    margin-right: 3px;
    vertical-align: middle
}
.autowords_text {
    font-size: 110%;
    padding: 10px;
}
a.autowords:link, a.autowords:visited {
    color: #D25A0B;
    text-decoration: none;
    border-style: dotted;
    border-bottom: 1px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}
sup {
    font-size: 95%;
    font-weight: bold;
    color: #D25A0B;
}
.sup {
    font-size: 95%;
    font-weight: bold;
    color: #D25A0B;
    vertical-align: top
}
.highlight {
    font-weight: bold;
    color: red;
    text-transform: uppercase
}
.popup_header {
    background: #D25A0B;
    padding: 5px;
    border: 0px solid #fff;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}
.popup_content {
    padding: 10px;
    border: 0px solid #eaeaea;
    background-color: #fff
}
.popup_box {
    border: 1px outset #807872;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.navigation_container {
    border: 0px solid #ccbdb7;
    padding: 0px;
    background-color: #fff
}
.navigation_container_pagetext {
    background-color: #ede1da;
    color: #000;
    font-size: 90%;
    padding: 3px;
}
.navigation_container_pages {
    background-color: #fff;
    padding-left: 1px;
    padding-right: 1px;
}
.newsstart_icon img {
}
.news_startpage {
    margin: 5px 0 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ccbdb7;
}
.news_startpage_text {
    margin-bottom: 5px;
}
.newsstart_left {
    float: left;
    width: 47%;
    min-height: 115px;
    margin: 5px 0 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ccbdb7;
}
.newsstart_right {
    float: right;
    width: 47%;
    min-height: 115px;
    margin: 5px 0 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ccbdb7;
}
.newsstart_intro {
    display: none
}
.newsstart_text {
    min-height: 105px;
    margin-top: 5px;
}
.newsstart_footerlinks {
    display: none
}
.newsstart_footer {
    margin: 20px 0 5px 0;
    text-align: right
}
.newsarchive_jump {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccbdb7;
}
.news_icon_left {
    margin-right: 10px;
}
.news_icon_right {
    margin-left: 10px;
}
.news_content {
    padding-top: 5px;
    margin-bottom: 5px;
}
.news_intro {
    font-weight: bold;
    margin: 5px 0 5px 0
}
.news_footer {
    border-bottom: 1px solid #ccbdb7;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}
.news_text_archive {
    margin: 5px 0 5px 0
}
.newsticker_header {
    padding: 7px;
    background: #ede1da;
    border-radius: 5px;
}
.news_title {
    background: #ede1da;
    padding: 3px;
    border-bottom: 1px solid #ccbdb7;
    margin-top: 8px;
    margin-bottom: 5px;
}
.news_title_archive {
    border-bottom: 0px dotted #807872;
    margin-top: 10px;
}
.topcontent {
    background: #fff;
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid #ccbdb7;
    border-radius: 5px;
}
.topcontent_img {
    text-align: center;
    margin-bottom: 5px;
}
.topnews {
    background: #ede1da;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 15px;
    border: 0px solid #ccbdb7;
    border-radius: 5px;
}
.topnews_img {
    text-align: center;
    margin-bottom: 5px;
}
a.ticker:link, a.ticker:visited {
    color: #D25A0B;
    text-decoration: none
}
a.ticker:hover {
    color: #000;
    text-decoration: none
}
.newsletter_box {
    background: #ede1da;
    padding: 15px;
    margin: 5px 0 0 0;
    border-bottom: 1px solid #ccbdb7;
}
.user_guestbook_subheader {
    padding: 3px;
    padding-left: 0px;
    border-bottom: 1px solid #ccbdb7;
    margin-bottom: 5px;
}
.error_font {
    color: #D25A0B;
    font-weight: bold
}
.error_box {
    border: 1px solid #D25A0B;
    padding: 15px;
    margin: 10px 0 10px 0;
    color: #D25A0B;
    background: #fff;
    font-weight: bold;
    border-radius: 5px;
}
.error {
    color: red;
    font-weight: bold;
}
label.error {
    float: none;
    font-size: 95%;
    font-weight: bold;
}
label.checked {
    float: none;
    font-weight: bold;
    color: #00CC00;
    background: url('../../images/page/ok.gif') no-repeat;
    width: 20px;
}
input.error, input.error:focus, textarea.error, textarea.error:focus {
    color: #000;
    font-weight: normal;
    border: 1px solid #D25A0B;
    margin-right: 5px;
}
.row_first, .row_left {
    border-bottom: 0px solid #fff;
    padding: 3px;
    padding-right: 4px;
    font-weight: bold;
}
.row_second, .row_right {
    border-bottom: 0px dotted #807872;
    padding: 3px;
}
.profile_tableborder {
}
.profile_header {
    background: #ede1da;
    padding: 5px;
    font-weight: bold;
    border: 0px solid #ede1da
}
.form_header {
    background: #D25A0B;
    padding: 5px;
    border: 0px solid #fff;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}
.form_left {
    background-color: #fdfdfd;
    padding: 5px;
    width: 25%;
    text-align: right
}
.form_right {
    background-color: #ede1da;
    padding: 5px;
}
.box_data {
    border: 1px solid #ccbdb7;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
}
.box_content_login {
    background: #ede1da;
    padding: 20px;
}
.box_innerhead_userprofile {
    color: #fff;
    font-size: 110%;
    background: #807872;
    padding: 6px;
    font-weight: bold;
}
.box_innerhead {
    border-bottom: 1px solid #D25A0B;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    margin: 15px 0 15px 0;
}
.box_innerhead div {
    font-weight: bold
}
.box_innerhead a:link, .box_innerhead a:visited {
    color: #D25A0B;
    font-size: 14px;
    font-weight: bold;
}
.box_innerhead a:hover {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
.box_innerhead_inf {
    font-weight: normal
}
.faq_innerhead {
    color: #D25A0B;
    font-size: 110%;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
.faq_text {
}
.reg_buttons {
    border-top: 0px solid #ccbdb7;
    padding: 10px;
    text-align: center
}
.divcode_header {
    background: #ede1da;
    padding: 4px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 0px;
}
.divcode {
    border: 1px solid #ede1da;
    margin: 10px;
    margin-top: 0px;
    padding: 5px;
    background: #fff
}
.comment_form {
    text-align: left;
    background: #ede1da;
    border: 1px solid #ccbdb7;
    padding: 15px;
    margin: 0 0 10px 0;
    border-radius: 5px;
}
.comment_form p {
    margin-bottom: 12px;
}
.comment_intro {
    margin: 5px 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccbdb7;
    color: #D25A0B
}
.comment_form strong {
}
.comment_form .input, .comment_form textarea {
    margin-top: 3px;
    padding: 2px;
}
.comment_box {
    background: #ede1da;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border: 1px solid #ede1da;
    border-radius: 5px;
}
.comment_box_second {
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.comment_box img {
    vertical-align: middle
}
.comment_entry {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 50px;
}
.comment_avatar {
    border: 1px solid #ccbdb7;
    padding: 1px;
    background: #fff
}
.comment_head {
    border-bottom: 1px solid #ccbdb7;
    font-size: 95%;
    padding-bottom: 5px;
}
.content_content {
    padding-top: 5px;
}
.content_box {
    background-color: #f1f0f6;
    padding: 15px;
}
.div_left {
    position: relative;
    float: left;
    width: 20%;
    padding-left: 4px;
    background-color: #f1f0f6
}
.div_right {
    position: relative;
    float: left;
    width: 80%;
    padding-left: 4px;
    background-color: #f1f0f6
}
.format_buttons {
    background: #fff;
    padding: 1px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccbdb7;
    border-radius: 3px;
}
.search_allresults {
    padding-left: 25px;
    padding-top: 2px;
    padding-bottom: 8px;
}
.absmiddle {
    vertical-align: middle
}
.clear {
    clear: both;
    height: 0px;
    width: auto;
}
.flag_active {
    font-weight: bold;
}
a.page_navigation:link, a.page_navigation:visited {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #c7bdb9;
    background-color: #fff;
    padding: 1px 3px;
    border-radius: 5px;
}
a.page_navigation:hover {
    color: #d25a0b;
    border: 1px solid #d25a0b
}
.page_active, a.page_active, a.page_active:link, a.page_active:visited {
    color: #d25a0b;
    font-weight: bold;
    text-decoration: none;
    margin-right: 2px;
    border: 1px solid #d25a0b;
    padding: 1px 3px;
    border-radius: 5px;
}
.navigation_container_pagetext {
    font-size: 12px;
    border: 1px solid #c7bdb9;
    padding: 1px 3px;
    border-radius: 5px;
}
#contents_middle {
    text-decoration: none;
}
.gallery_extern_border {
    float: left;
    border: 1px solid #ccbdb7;
    margin: 1px;
}
.gallery_extern_header {
    background: #ccbdb7;
    padding: 3px;
}
.gallery_iconleft {
    min-height: 80px;
    min-width: 100px;
    background: url('../../images/page/loading.gif') 50% 50% no-repeat
}
.gallery_diashowload {
    min-height: 320px;
    min-width: 480px;
    background: url('../../images/page/loading.gif') 50% 50% no-repeat
}
.gallery_categs {
    border: 1px solid #ccbdb7;
    margin-top: 5px;
    padding: 4px;
    min-height: 90px;
    border-radius: 5px;
}
.gallery_categs_search {
    border: 1px solid #ccbdb7;
    background: #ede1da;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.gallery_categs_img {
    margin-right: 10px;
}
.gallery_pic_preview_container {
    background: #ede1da;
}
.gallery_pic_preview {
    background: #fff;
    border: 1px solid #ccbdb7;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    border-radius: 5px;
}
.gallery_pic_diashow {
    background: #ccbdb7;
    padding-top: 30px;
}
.gallery_pic_diashow img {
    border: 5px solid #fff
}
.gallery_pic_box {
}
.gallery_box {
    text-align: center;
    border: 0px solid #ccbdb7;
    background: #ede1da;
    padding-top: 5px;
    padding-bottom: 5px;
}
.gallery_pic_navelem {
    background: #ede1da;
    padding: 10px;
}
.gallery_box_img {
    border: 1px solid #fff;
    padding: 0px;
}
.gallery_box_img:hover {
    border: 1px solid #000;
    padding: 0px;
}
.gallery_box:hover {
}
.gallery_box_ani {
    min-height: 80px;
    background: url('../../images/page/loading.gif') 50% 50% no-repeat
}
.gallery_box_anibig {
    background: url('../../images/page/loading.gif') 50% 50% no-repeat
}
.gallery_box a {
    text-decoration: underline;
}
.gallery_diashow_toolbox {
    padding: 5px;
    background: #fff
}
.gallery_preview_thumb {
    border: 11px solid #000;
    padding: 4px;
    background: #fff;
    min-height: 53px;
}
.gallery_image_text {
    font-size: 90%;
    width: 500px;
    padding: 5px;
}
.gallery_bannercode {
}
.gallery_more {
    height: 200px;
    overflow: auto;
    border: 1px solid #ccbdb7;
    padding: 2px;
    text-align: center
}
.gallery_more_thumb {
    border: 2px solid #ccbdb7;
    background: #ede1da;
    padding: 2px;
    margin: 1px;
}
.gallery_more_thumb_active {
    border: 2px solid #D25A0B;
    background: #ede1da;
    padding: 2px;
    margin: 1px;
}
.gallery_loader {
    background: #fff url('../../images/page/loading.gif') 50% 50% no-repeat;
    min-height: 200px;
}
.gallery_actions {
    border: 1px solid #ccbdb7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.gallery_image_smallinfo {
    margin-top: 5px;
    font-size: 95%;
    color: #666
}
.gallery_fadebox {
    padding: 10px;
    background: #ede1da;
    border: 0px solid #ccbdb7;
}
.gallery_fadebox_pics {
    height: 90px;
    width: 120px;
    margin: 0;
    overflow: hidden
}
.gallery_info_small {
}
.gallery_info_small a:link, .gallery_info_small a:visited {
}
.tagcloud {
    background: #fff;
    border: 1px solid #ccbdb7;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.tagcloud div {
    border-bottom: 0px solid #ccbdb7;
    font-weight: bold
}
.tagcloud1 {
    font-weight: normal;
    font-size: 120%;
    padding-right: 10px;
}
.tagcloud2 {
    font-weight: bold;
    font-size: 145%;
    padding-right: 10px;
}
.tagcloud3 {
    font-weight: bold;
    font-size: 200%;
    padding-right: 10px;
}
.tagcloud4 {
    font-weight: bold;
    font-size: 240%;
    padding-right: 10px;
}
.tooltip {
    border-bottom: 1px solid #D25A0B;
    cursor: help
}
.item_title {
    font-weight: normal;
    background-color: #807872;
    color: #666666
}
.toggler a, .toggler-opened a {
    color: #fff;
    text-decoration: none!important
}
.toggler {
    border-bottom: 1px solid #D25A0B;
    margin: 5px 0px 15px 0px;
    cursor: pointer;
    text-decoration: none!important;
    font-weight: bold;
    line-height: 35px;
    display: block;
}
.toggler-closed {
    color: #000000!important;
    padding-left: 0px;
    margin-bottom: 25px;
    background: #ffffff url('../../images/shop/tab_open_box.gif') center right no-repeat;
}
.toggler-closed:hover {
    color: #d25a0b!important;
    padding-left: 0px;
    background: #ffffff url('../../images/shop/tab_open_box.gif') center right no-repeat;
}
.toggler-opened {
    color: #000000!important;
    padding-left: 0px;
    margin-bottom: 25px;
    background: #ffffff url('../../images/shop/tab_close_box.gif') center right no-repeat;
}
.toggler-opened:hover {
    color: #d25a0b!important;
    padding-left: 0px;
    background: #ffffff url('../../images/shop/tab_close_box.gif') center right no-repeat;
}
.toggler-c {
}
.toggler-c-closed {
    background: transparent;
    border: solid 0px #e3e3e3;
    margin: -25px 0px 25px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.toggler-c-opened {
    margin: -25px 0px 15px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.togglerboxes a, .togglerboxes-opened a {
    text-decoration: none!important;
}
.togglerboxes {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px 0px 15px 0px;
    cursor: pointer;
    text-decoration: none!important;
    font-weight: bold;
    display: block;
    line-height: 32px;
    border-radius: 5px 5px 0 0;
}
.togglerboxes-closed {
    color: #fff!important;
    text-decoration: none;
    padding-left: 10px;
    height: 32px;
    background: #807872 url('../../images/page/tab_open_box.gif') center right no-repeat;
    border: solid 0px #afafaf;
}
.togglerboxes-closed:hover {
    color: #fff!important;
    padding-left: 10px;
    height: 32px;
    background: #807872 url('../../images/page/tab_open_box.gif') center right no-repeat;
    border: solid 0px #afafaf;
}
.togglerboxes-opened {
    color: #fff!important;
    padding-left: 10px;
    height: 32px;
    background: #807872 url('../../images/page/tab_close_box.gif') center right no-repeat;
    border: solid 0px #afafaf;
}
.togglerboxes-opened:hover {
    color: #fff!important;
    padding-left: 10px;
    height: 32px;
    background: #807872 url('../../images/page/tab_close_box.gif') center right no-repeat;
    border: solid 0px #afafaf;
}
.togglerboxes-c {
}
.togglerboxes-c-closed {
    background: transparent;
    border: solid 0px #e3e3e3;
    margin: -25px 0px 25px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.togglerboxes-c-opened {
    margin: -15px 0px 5px 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}
.jcarousel-container {
    position: relative;
}
.jcarousel-clip {
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.jcarousel-list {
    z-index: 1;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.jcarousel-item {
    float: left;
    list-style: none;
    width: 75px;
    height: 75px;
}
.jcarousel-next {
    z-index: 3;
    display: none;
}
.jcarousel-prev {
    z-index: 3;
    display: none;
}
.jcarousel_div {
    background: #fff;
    text-align: center
}
.jcarousel-slider.jcarousel-container {
    background: #fff;
    border: 0px solid #ccbdb7;
}
.jcarousel-slider.jcarousel-container-horizontal {
    padding: 10px 40px;
}
.jcarousel-slider.jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}
.jcarousel-slider .jcarousel-clip-horizontal {
    height: 75px;
}
.jcarousel-slider .jcarousel-clip-vertical {
    width: 75px;
    height: 245px;
}
.jcarousel-slider .jcarousel-item {
    width: 75px;
    height: 75px;
}
.jcarousel-slider .jcarousel-item-horizontal {
    margin-right: 10px;
}
.jcarousel-slider .jcarousel-item-vertical {
    margin-bottom: 10px;
}
.jcarousel-slider .jcarousel-item-placeholder {
}
.jcarousel-slider .jcarousel-next-horizontal {
    background: transparent url('../../images/page/next-horizontal.gif') no-repeat 0 0;
    position: absolute;
    top: 33px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.jcarousel-slider .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}
.jcarousel-slider .jcarousel-next-horizontal:active {
    background-position: -32px 0;
}
.jcarousel-slider .jcarousel-next-disabled-horizontal, .jcarousel-slider .jcarousel-next-disabled-horizontal:hover, .jcarousel-slider .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -64px 0;
}
.jcarousel-slider .jcarousel-prev-horizontal {
    background: transparent url('../../images/page/pref-horizontal.gif') no-repeat 0 0;
    position: absolute;
    top: 33px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.jcarousel-slider .jcarousel-prev-horizontal:hover {
    background-position: -32px 0
}
.jcarousel-slider .jcarousel-prev-horizontal:active {
    background-position: -32px 0
}
.jcarousel-slider .jcarousel-prev-disabled-horizontal, .jcarousel-slider .jcarousel-prev-disabled-horizontal:hover, .jcarousel-slider .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -64px 0;
}
div.rating {
    cursor: pointer;
    margin: 2em;
    clear: both;
    display: block
}
div.rating:after {
    content: '.';
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden
}
div.cancel, div.star {
    float: left;
    width: 17px;
    height: 16px;
    text-indent: -999em;
    cursor: pointer;
    display: block;
    background: transparent;
    overflow: hidden
}
div.cancel, div.cancel a {
    background: url('../../images/rating/delete.gif') no-repeat 0 -16px
}
div.star, div.star a {
    background: url('../../images/rating/star.gif') no-repeat 0 0px;
}
div.cancel a, div.star a {
    display: block;
    width: 16px;
    height: 100%;
    background-position: 0 0px;
}
div.star_on a {
    background-position: 0 -16px!important
}
div.star_hover a, div.star_live a:hover {
    background-position: 0 -32px
}
div.star_readonly a, div.star_readonly a:hover {
    cursor: default !important
}
div.star {
    background: transparent!important;
    overflow: hidden!important
}
.data_first {
    background-color: #ede1da;
    color: #666;
    padding: 3px;
}
.data_second {
    background-color: #fff;
    padding: 3px;
}
a.calendarEventLink:link, a.calendarEventLink:visited {
    font-size: 11px;
    font-weight: normal
}
.calendarBackground {
    background-color: #fff
}
.calendarBorder {
    background-color: #ede1da;
    padding: 1px;
}
.calendarBlanc {
    background-color: #fff;
}
.calendarHeader {
    background-color: #D25A0B;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    text-align: center
}
.calendarHeadeWeekBig {
    background: #807872;
    color: #fff;
    font-weight: bold;
    padding: 8px;
}
.calendarHeaderWeek {
    background: #ede1da
}
.calendarHeaderBig {
    background-color: #D25A0B;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    text-align: center
}
.calendarInactiveDay {
    color: #ccbdb7;
    font-style: italic;
    font-size: 10px;
    padding: 4px;
}
.calendarToday {
    background-color: #d25a0b;
    color:#fff;
    font-weight:bold;
    padding:1px;
}
.calendarTodayBig {
    height:90px;
    background-color:#fff;
    border: 1px solid #D25A0B;
    font-weight:bold;
    font-size:14px;
    padding:4px;
}
.system {
    background: #807872;
    padding: 8px;
    padding-bottom: 10px;
    color: #fff
}
.tops {
    background: #3c9e19;
    padding: 8px;
    padding-bottom: 10px;
    color: #fff
}
.flops {
    background: #cc231f;
    padding: 8px;
    padding-bottom: 10px;
    color: #fff
}
.system div, .tops div, .flops div {
    color: #fff;
    margin-top: 6px;
    margin-left: 10px;
}
.tops ul, .system ul, .flops ul {
    margin: 0 0 0 25px;
    padding: 0px;
    list-style: square
}
.reg_agb {
    background: #fff;
    border: 1px solid #cec4c0;
}
.vote {
    background: #fff;
    border: 1px solid #ccbdb7;
    height: 20px
}
.iter_head {
    background: #fff;
    padding: 5px
}
.iter_first {
    background: #f7f0eb
}
.iter_second {
}
.spoiler {
    width: auto;
    overflow: auto
}
.spoilertext {
    display: none;
}
.spoilerheader {
    background: #ede1da url('../../images/page/spoiler_close.png') no-repeat;
    font-weight: bold;
    margin: 10px 10px 0 10px;
    padding: 4px 4px 4px 20px;
    display: block;
    cursor: pointer;
}
.spoilerheader_open {
    background: #ede1da url('../../images/page/spoiler_open.png') no-repeat;
}
.mod_header {
    color: #fff;
    background: red;
    padding: 4px;
    font-weight: bold;
    margin: 10px 10px 0 10px;
}
.modcode {
    border: 1px solid red;
    margin: 0 10px 10px 10px;
    padding: 5px;
    background: #fff
}
.status {
    text-align: left;
    position: absolute;
    z-index: 1000;
    border: 1px solid #D25A0B;
    background: #fff;
    padding: 5px;
    color: #333;
    border-radius: 5px;
}
.justify {
    text-align: justify;
}
.avail_cont {
    display: block;
    z-index: 100;
    position: relative;
}
.avail_cont img {
    background: #fff;
    padding: 1px;
    cursor: pointer;
    border: 1px solid #c7bdb9;
    border-radius: 5px;
}
.avail_popup a {
    display: block;
    padding: 3px 5px;
}
.avail_popup {
    display: none;
    padding: 2px;
    left: -2px;
    top: 22px;
    position: absolute;
}
.ac_results {
    border: 1px solid #807872;
    background-color: white;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    z-index: 10002;
    display: none;
    width: 170px;
    height: 150px;
    overflow: auto
}
.ac_results li {
    font-size: 11px;
    padding: 2px 5px;
    white-space: nowrap;
    color: #000;
    text-align: left;
}
.ac_over {
    cursor: pointer;
    background: #FFFFCC
}
.ac_match {
    text-decoration: underline;
    color: black;
}
.poll_back {
    background: #ede1da url('../../images/page/poll_back.png') bottom right no-repeat;
}
.poll_back_small {
    background: #ede1da url('../../images/page/poll_back_small.png') bottom right no-repeat;
}
.user_back_small {
    background: #ede1da url('../../images/page/user_box.png') bottom right no-repeat;
}
.round {
    border-radius: 5px;
}
.accordion {
}
.accordion div {
    background-color: #fff;
}
.accordion p {
    margin-bottom : 10px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    margin: 0px;
    padding: 10px;
}
.accordion a {
    cursor: pointer;
    display: block;
    padding: 8px;
    margin-top: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: black;
    background-color: #ede1da;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
}
.accordion a:hover {
    background-color: #807872;
    color: #fff;
}
.accordion a.selected {
    color: #fff;
    background-color: #807872;
}
.ui-wrapper {
    border: 1px solid #ede1da;
}
.ui-wrapper input, .ui-wrapper textarea {
    border: 0;
}
.ui-tabs-hide {
    display: none;
}
.ui-tabs-nav, .ui-tabs-panel {
}
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0px;
}
.ui-tabs-nav:after {
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin-right: 1px;
    font-weight: bold;
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    float: left;
    color: #fff!important;
    padding: 0px 10px 0px 10px;
    background: #807872;
    border-radius: 5px 5px 0 0;
}
.ui-tabs-nav a {
    margin: 0px;
    padding-left: 0;
    background-position: 100% 0;
    text-decoration: none;
    white-space: nowrap;
    outline: 0;
}
.ui-tabs-nav a:link, .ui-tabs-nav a:visited {
    color: #807872!important;
    text-decoration: none;
}
.ui-tabs-nav .ui-tabs-selected a {
    background: #d25a0b;
    position: relative;
    top: 0px;
    z-index: 2;
    margin-top: 0px;
    background-position: 100% -23px;
}
.ui-tabs-nav a span {
    padding-top: 0;
    padding-right: 0;
    height: 27px;
    background-position: 0 0;
    line-height: 27px;
}
.ui-tabs-nav .ui-tabs-selected a span {
    background: #d25a0b;
    padding-top: 0;
    height: 27px;
    color: #fff!important;
    background-position: 0 -23px;
    line-height: 27px;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited {
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active, .ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active {
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
}
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited {
    color: #000;
}
.ui-tabs-panel {
    background: #ede1da;
}
.ui-tabs-panel-content {
    padding: 10px;
    border: 1px solid #c7c3b8;
    background: #fff!important;
    margin-top: 1px;
    border-radius: 0 5px 5px 5px;
}
* html .ui-tabs-nav {
    display: inline-block;
}
*:first-child+html .ui-tabs-nav {
    display: inline-block;
}
table.progress {
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    empty-cells: show;
    width: 450px;
    height: 25px;
    margin: 10px;
}
table.progress td {
    background: #fff;
    padding: 0
}
table.progress td.closed {
    background: #fc990c
}
table.progress td :hover {
    background: none
}
