@charset "windows-1251";
body, div, td, th, .button, .code_widget, .loginfield {
    font: 14px arial, verdana, 'trebuchet ms', verdana;
    color: #000
}
textarea, input, select {
    font: 14px arial, verdana, 'trebuchet ms', verdana;
    color: #000
}
fieldset {
    background-color: #f1f0f6;
    border: 1px solid #ccc
}
legend {
    color: #eec00a;
    padding: 3px;
    border: 0px solid #ccbdb7;
    background-color: #fff
}
a:link, a:visited {
    color: #000;
    text-decoration: underline
}
a:hover {
    color: #000;
    text-decoration: underline
}
html {
    background-color: #fff
}
body {
    padding: 10px;
    background-color: #fff
}
#body {
    width: 900px;
    padding: 10px;
    border: 1px solid #D25A0B;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto
}
#contents_left, #contents_right, .noprint, .comment_form, .langchooser, .quicknavicontainer, #header_basket, .shop_header_inf {
    display: none
}
h1, h2, h3, h4, form {
}
.absmiddle {
    vertical-align: middle
}
img {
    border: 0px
}
