<script type="text/javascript">
<!-- //
function addFavorite(a) {
    if (document.all) {
        window.external.AddFavorite(document.location.href, document.title);
    } else if (typeof (opera) == 'object') {
        a.rel = 'sidebar';
        a.title = document.title;
        a.url = document.location.href;
        return true;
    }  else {
        window.sidebar.addPanel(document.title, document.location.href, '');
    }
    return false;
}
//-->
</script>

<a class="stip" title="{#Startpage#}" href="index.php?area={$area}"><img src="{$imgpath}/navi/home.png" alt="" class="absmiddle" /></a>&nbsp;&nbsp;
<a class="stip" title="{#Sitemap#}" href="index.php?p=sitemap&amp;action=full&amp;area={$area}"><img src="{$imgpath}/navi/sitemap.png" alt="" class="absmiddle" /></a>&nbsp;&nbsp;
<a class="stip" title="{#RSSAbo#}" target="_blank" href="index.php?p=rss&amp;area={$area}"><img src="{$imgpath}/navi/rss.png" alt="" class="absmiddle" /></a>&nbsp;&nbsp;
<a class="stip" title="{#PrintNow#}" target="_blank" href="{print_link}"><img src="{$imgpath}/navi/print.png" alt="" class="absmiddle" /></a>&nbsp;&nbsp;
<a class="stip" title="{#AddFavorite#}" href="#" onclick="return addFavorite(this);"><img src="{$imgpath}/navi/favorite.png" alt="" class="absmiddle" /></a>
