<script type="text/javascript">
<!-- //
togglePanel('navpanel_shopinfo', 'togglerboxes', 30, '{$basepath}');
//-->
</script>

<div class="round">
  <div class="opened" id="navpanel_shopinfo" title="{#Info#}">
    <div class="boxes_body">
      {#Arrow#} <a href="index.php?p=shop&amp;action=prais">{#Shop_Preis#}</a>
      <br />
      {#Arrow#} <a href="index.php?p=shop&amp;action=shippingcost">{#Shop_shipping_cost#}</a>
      <br />
      {#Arrow#} <a href="index.php?p=shop&amp;action=agb">{#Shop_infopageAgb#}</a>
      <br />
      {#Arrow#} <a href="index.php?p=shop&amp;action=refusal">{#Shop_f_rcall_inf#}</a>
      <br />
      {#Arrow#} <a href="index.php?p=shop&amp;action=privacy">{#Shop_infopageDataInf#}</a>
    </div>
  </div>
</div>
