<script type="text/javascript">
<!-- //
togglePanel('navpanel_shoplegend', 'togglerboxes', 30, '{$basepath}');
//-->
</script>

<div class="round">
  <div class="opened" id="navpanel_shoplegend" title="{#Legende#}">
    <div class="boxes_body">
      <div align="center" style="margin-bottom: 5px" class="stip" title="{$available_array.0->Name|tooltip}"><img style="padding-right: 5px;" src="{$imgpath}/shop/avail-1.png" alt="" class="absmiddle" /></div>
      <div align="center" style="margin-bottom: 5px" class="stip" title="{$available_array.4->Name|tooltip}"><img style="padding-right: 5px;" src="{$imgpath}/shop/avail-5.png" alt="" class="absmiddle" /></div>
      <div align="center" style="margin-bottom: 5px" class="stip" title="{$available_array.1->Name|tooltip}"><img style="padding-right: 5px;" src="{$imgpath}/shop/avail-2.png" alt="" class="absmiddle" /></div>
      <div align="center" style="margin-bottom: 5px" class="stip" title="{$available_array.2->Name|tooltip}"><img style="padding-right: 5px;" src="{$imgpath}/shop/avail-3.png" alt="" class="absmiddle" /></div>
      <div align="center" style="margin-bottom: 5px" class="stip" title="{$available_array.3->Name|tooltip}"><img style="padding-right: 5px;" src="{$imgpath}/shop/avail-4.png" alt="" class="absmiddle" /></div>
      <div align="center" class="stip" title="{#ShopAllProducts#}"><img style="padding-right: 5px;" src="{$imgpath}/shop/avail-0.png" alt="" class="absmiddle" /></div>
    </div>
  </div>
</div>
