{if isset($AktiveLink) && $AktiveLink == 1}
  <br />
  <div style="text-align: center">
    {$Sape_links}
    {$Linkfeed_links}
    {$setlinks_links}
    {$mainlink_links}
    {$trustlink_links}
  </div>
{/if}
