{if !empty($login_error_true)}
<script type="text/javascript">
<!-- //
document.getElementById('ajl').style.display = '';
document.getElementById('ajlw').style.display = 'none';
//-->
</script>

<strong>{#Error#}</strong>
<br />
{#WrongLoginData#}
<br />
<br />
{/if}
