<script type="text/javascript">
<!-- //
togglePanel('navpanel_whosonline', 'togglerboxes', 30, '{$basepath}');
//-->
</script>

<div class="round">
  <div class="opened" id="navpanel_whosonline" title="{#Forums_WhosOnline#}">
    <div class="boxes_body">
      {useronline}
    </div>
  </div>
</div>
