<script type="text/javascript">
<!-- //
togglePanel('navpanel_userpanel', 'togglerboxes', 30, '{$basepath}');
//-->
</script>

<div class="round">
  <div class="opened" id="navpanel_userpanel" title="{#Login#}">
    <div class="boxes_body user_back_small">
      {include file="$incpath/user/userpanel_raw.tpl"}
    </div>
  </div>
</div>
