<div class="box_innerhead">{#Gaming_cheats#}</div>
{include file="$incpath/cheats/search.tpl"}
{if empty($Entries)}
  <div class="box_data">
    <h3>{#Links_SNotFound#}</h3>
  </div>
{/if}
{$Results}
